<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<link rel="dns-prefetch" href="//fonts.googleapis.com" data-proofer-ignore>
	<link rel="dns-prefetch" href="//code.jquery.com" data-proofer-ignore>
	<link rel="dns-prefetch" href="//www.google-analytics.com" data-proofer-ignore>
    <!-- Load css from _config.yml -->
	{% for href in site.resources.css %}
		<link rel="stylesheet" href="{{ href }}" type="text/css">
    {% endfor %}
	<link rel="icon" type="image/png" href="/img/favicon.png">

	<!-- mathjax config similar to math.stackexchange -->
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
  		jax: ["input/TeX", "output/HTML-CSS"],
  		tex2jax: {
            inlineMath: [ ['$', '$'] ],
            displayMath: [ ['$$', '$$']],
            processEscapes: true,
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  		},
  		messageStyle: "none",
  		"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }

		});
	</script>
	<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML""> </script>


</head>
