
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-sm">
    <!-- <div class="loginmodal&#45;container"> -->
    <div class="modal-content" style="display: none;">
      <div id="login-modal-body" class="modal-body">
        <h3>Kirjautuminen</h3>
        <a href="{{ "users/auth/google_oauth2" | prepend: site.backendbaseurl }}">
          <img src="/img/google-login.png" alt="Google-nappula" />
        </a>
        <p>Kirjautumalla sisään hyväksyt <a href="/omat/rekisteriseloste.html">rekisteriselosteessa</a> olevat käyttöehdot.</p>
      </div>

      <!-- Not supported -->
      <!-- <div class="login&#45;help"> -->
      <!-- <a href="#">Rekisteröidy</a> -->
      <!-- &#45; <a href="#">Forgot Password</a> -->
      <!-- </div> -->
    </div>
  </div>
</div>
