<nav>
	<a id="menu_toggle">&#9776;</a>
	<ul>
		{% for site in site.navigation %}
		
		<li><a href="{{ site[1] | prepend: site.baseurl }}"{% if site[1] == page.url %} class="current"{% endif %} onclick="ga('send','event','navbar','click','{{site[0]}}')">{{site[0]}}</a></li>
		{% endfor %}

        <!-- Tässä toimii highlight? <li><a href="/kurssihallinta.html" {% if page.url == "/kurssihallinta.html" %} class="current"{% endif %}>Kurssihallinta</a></li> -->
    <li><a href="#" id="kirjautuminen" data-toggle="modal" data-target="#login-modal">Kirjautuminen</a> 
    <li><a rel="nofollow" data-method="GET" href="https://pure-inlet-98383.herokuapp.com/users/sign_out" id="logout">Logout</a> 
    </li>
	</ul>
</nav>
