<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% assign url_parts = page.sidenav | split: '/' %} {% assign sidebar = site.data.sidebar %} {% for part in url_parts %} {% assign sidebar = sidebar[part] %} {% endfor %}
<aside>
    <nav class="sidenav">
        <ul>
            <li style="list-style: none">{% for link in sidebar.navigation %}</li>
            <li>{% if link.ext or link.base %} {% assign href = link.path %} {% else %} {% assign href = link.path | prepend: sidebar.path %} {% endif %} {% assign page_url = page.url | replace:'index.html','' %} <a class="current" href="=" target="{{link.target}}">{{link.name}}</a>
            </li>
            <li style="list-style: none">{% endfor %}</li>
        </ul>
    </nav>{% for img in sidebar.imgs %} {% if img.href %} <a href="{{img.href}}"><img src="{{img.src}}"></a> {% else %} <img src="{{img.src}}"> {% endif %} {% endfor %}
</aside>
</body>
</html>