---
layout: compress
---
<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
        {% include modal.html %}
        {% include nav.html %}
        {% include header.html %}
        <div style="display: none;">
        ${% include mathematics.html %}$
        </div>
		
		{% if page.topnav %}
			{% include topnav.html %}
		{% endif %}
		<main{% if page.main-class %} class="{{page.main-class}}"{% endif %}>
			{{ content }}
		</main>

		{% include footer.html %}
		{% include scripts.html %}
	</body>

</html>
