---
layout: default
---

<div class="tehtava" id="{{ page.id }}">
                    <header>
                        <h1>                            <div class="checkbox-group"></div>
                            <a data-toggle="collapse" class="collapsed" data-target="#MAA10t105">
                                {{ page.title }}
                            </a>
                        </h1>
                    </header>
                    <div id="MAA10t105" class="collapse">
                      {{ content }}  
                    </div>
                </div>
            </div>
