---
layout: compress
---

<!-- numbering4print.js need JQuery so it need to be loaded here also-->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="/js/numbering4print.js"></script>

<style>
        
        div.print-link {
        	display: none;
        }
</style>
<!DOCTYPE html>
<html>
	{% include head.html %}
	<script src="/js/numbering4print.js"></script>
	<body>

		{% include nav.html %}
		{% include header.html %}
	        <div style="display: none;">
	        ${% include mathematics.html %}$
	        </div>
		

		{% if page.topnav %}
			{% include topnav.html %}

			<main{% if page.main-class %} class="{{page.main-class}}"{% endif %}>
				{% assign url_parts = page.topnav | split: '/' %}
				{% assign topbar = site.data.topbar %}
				{% for part in url_parts %}
					{% assign topbar = topbar[part] %}
				{% endfor %}
				{{ content }}
				{% for link in topbar.navigation %}
					{% for page in site.pages %}
					{% if page.url == link.path %}
						{{page.content}}
					{% endif %}
				{% endfor %}
				{% endfor %}
			</main>
		{% endif %}
		{% if page.english %}
			{% include footer-en.html %}
		{% else %}
			{% include footer.html %}
		{% endif %}

		{% include scripts.html %}

	</body>

</html>
